body {
    padding-top: 20px;
    padding-bottom: 20px;
}
li {
    color: white;
    font-size: 21px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    margin-right: 50px;
    margin-left: 50px;
}

