.menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 40px;
}



.menu li {
    margin: 0 5px;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
}

.menu li a:hover {
    background-color: #111;
}

.search-form {
    display: flex;
}

.search-form input[type="text"] {
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px;
    margin-right: 5px;
    font-size: 14px;
}

.search-form button[type="submit"] {
    border: none;
    background-color: transparent;
    color: white;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

.right {
    margin-left: auto;
}


